footer(class='page-footer font-small bg-dark fixed-bottom')
  div(class='footer-copyright text-light text-center py-3')
    | &copy; 2019 Copyright:
    a(href='#')  somewhere.com

//- div(class='footer-container')
  small(class='copyright') Designed with 
    i(class='fas fa-heart')
    |  by 
    a(href='http://jareddiehl.me') Jared Diehl
