doctype html
html(lang='en', dir='ltr')
  include ../partials/head.pug
  block head
  body
    block header

    block content

    footer(class='footer')
      include ../partials/footer.pug

    include ../partials/scripts.pug
    block scripts
