doctype html
html(lang='en', dir='ltr')
  include ../partials/head.pug
  block head
  body(class='text-center')
    div(class='container')
      block content

    include ../partials/scripts.pug
    block scripts
