extends layouts/main.pug

block head
  link(rel='stylesheet', href='/css/home.css')

block header
  header(class='home-header')
    h2(class='home-logo')
      a(href='/')
        i(class='fas fa-heart')
        |  NeckerLove
    input(type='checkbox', id='chk')
    label(for='chk', class='show-menu-btn')
      i(class='fas fa-ellipsis-h')
    ul(class='home-menu')
      a(href='/') Home
      a(href='/search') Search
      a(href='/account/profile') Profile
      a(href='/account/register') Register
      a(href='/account/login') Login
      label(for='chk', class='hide-menu-btn')
        i(class='fas fa-times')

block content
  div(class='content')
    div(class='test')
      h1(id='home-title') Single is a terrible thing to waste.

block scripts
  script(src='/js/home.js')
