doctype html
html(lang='en', dir='ltr')
  include partials/head.pug
  body
    header(class='home-header')
      h2(class='home-logo')
        a(href='/')
          i(class='fas fa-heart')
          |  NeckerLove

    div(class='content')
      div(class='test')
        h1(id='home-title') Single is a terrible thing to waste.

    footer(class='footer')
      include partials/footer.pug

    include partials/scripts.pug
    script(src='/js/home.js')
