<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <header class="home-header">
      <h2 class="home-logo"><a href="/"><i class="fas fa-heart"></i> Neckerlove</a></h2>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>

      <ul class="home-menu">
        <a href="/">Home</a>
        <a href="/find">Find</a>
        <a href="/profile">Profile</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>
      </ul>
    </header>

    <div class="content">
      <div class="test">
        <h1 id="home-title">Single is a terrible thing to waste.</h1>
      </div>

      <footer class="footer">
        <div class="footer-container">
          <small class="copyright">
            Designed with
            <i class="fas fa-heart"></i>
            by
            <a href="http://jareddiehl.me"> Jared Diehl</a>
          </small>
        </div>
      </footer>
    </div>
  </body>
</html>
