doctype html
html(lang='en', dir='ltr')
  head
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    include partials/head.pug
    link(rel='stylesheet', href='/css/home.css')
  body(class='text-center')
    div(class='cover-container d-flex h-100 p-3 mx-auto flex-column')
      header(class='masthead mb-auto')
        div(class='inner')
          h3(class='masthead-brand')
            a(href='/', class='masthome')
              i(class='fas fa-heart')
              |  NeckerLove
          nav(class='nav nav-masthead justify-content-center')
            a(class='nav-link active', href='/') Home
            a(class='nav-link', href='/account/profile') Profile
            a(href='/account/register', class='btn btn-lg btn-secondary') Log In

      main(role='main', class='inner cover')
        h1(class='cover-heading') Single is a terrible thing to waste.
        p(class='lead')
          a(href='/account/register', class='btn btn-lg btn-secondary') Register
    
      footer(class='mastfoot mt-auto')
        div(class='inner')
          p
            | Designed by 
            i(class='fas fa-heart')
            |  by 
            a(href='http://jareddiehl.me') Jared Diehl

    include partials/scripts.pug
    script(src='/js/home.js')
