<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Profile</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <header class="header">
    <h2 class="logo"><a href="/"><i class="fas fa-heart"></i> Neckerlove</a></h2>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
      <a href="/">Home</a>
      <a href="/find">Find</a>
      <a href="/profile">Profile</a>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </header>

  <div class="content">
    <div class="login-box">
      <form id="profileForm" class="login-form" action="/profile" enctype="multipart/form-data" method="POST" novalidate>
        <div class="avatar-upload">
          <div class="avatar-edit">
            <input id="profileImage" type='file' name="profileImage" accept="image/*">
            <label for="profileImage"></label>
          </div>
          <div class="avatar-preview">
            <div id="imagePreview"></div>
          </div>
        </div>
        <input id="profileFirstName" type="text" class="txtb" name="profileFirstName" placeholder="First Name">
        <input id="profileLastName" type="text" class="txtb" name="profileLastName" placeholder="Last Name">
        <input id="profileInterests" type="text" class="txtb" name="profileInterests" placeholder="Interests">
        <input id="profileLocality" type="text" class="txtb" name="profileLocality" placeholder="Locality">
        <input id="profileSubmit" type="submit" class="login-btn" name="" value="Save">
      </form>

      <footer class="footer">
        <div class="footer-container">
          <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://jareddiehl.me">Jared Diehl</a></small>
        </div>
      </footer>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/profile.js"></script>
</body>

</html>
