doctype html
html(lang='en', dir='ltr')
  head
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    include partials/head.pug
    link(rel='stylesheet', href='/css/profile.css')
  body(class='text-center')
    div(class='cover-container d-flex h-100 p-3 mx-auto flex-column')
      header(class='masthead mb-auto')
        div(class='inner')
          h3(class='masthead-brand')
            a(href='/', class='masthome')
              i(class='fas fa-heart')
              |  NeckerLove
          nav(class='nav nav-masthead justify-content-center')
            a(class='nav-link', href='/') Home
            a(class='nav-link active', href='/account/profile') Profile
            a(href='/account/register', class='btn btn-lg btn-secondary') Log In

      main(role='main', class='inner cover')
        form(action='/account/profile', enctype='multipart/form-data', method='post', novalidate)
          div(class='form-group')
            input(type='file', name='image', accept='image/*')
          div(class='form-group')
            input(type='text', name='firstname', class='form-control', placeholder='First name...', maxlength='50', autofocus)
          div(class='form-group')
            input(type='text', name='lastname', class='form-control', placeholder='Last name...', maxlength='50')
          div(class='form-group')
            input(type='text', name='interests', class='form-control', placeholder='Interests...', maxlength='2000')
          div(class='form-group')
            input(type='text', name='state', class='form-control', placeholder='State...', maxlength='52')
          div(class='form-group')
            button(type='submit') Save
    
      footer(class='mastfoot mt-auto')
        div(class='inner')
          p
            | Designed by 
            i(class='fas fa-heart')
            |  by 
            a(href='http://jareddiehl.me') Jared Diehl

    include partials/scripts.pug
    //- script(src='/js/profile.js')
