doctype html
html(lang='en', dir='ltr')
  head
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    include partials/head.pug
    link(rel='stylesheet', href='/css/profile.css')
  body(class='text-center')
    div(class='cover-container d-flex h-100 p-3 mx-auto flex-column', style='width: 100%;')
      header(class='masthead mb-auto')
        div(class='inner')
          h3(class='masthead-brand mb-3')
            a(href='/', class='masthome')
              i(class='fas fa-heart font-weight-light')
              |  NeckerLove
          nav(class='nav nav-masthead justify-content-center')
            a(class='nav-link', href='/') Home
            a(class='nav-link active', href='/account/profile') Profile
            form(action='/account/logout', method='post')
              button(type='submit', class='btn btn-outline-secondary link-login ml-3') Log out

      main(role='main', class='inner cover')
        form(id='form-profile', class='form-profile', action='/account/profile', enctype='multipart/form-data', method='post', novalidate)
          div(class='input-group mb-3 mt-1 mb-1', style='width: 100%; max-width: 330px; margin: auto;')
            input(type='file', name='image', class='form-control', accept='image/*')
          div(class='input-group mb-3 mt-1 mb-1', style='width: 100%; max-width: 330px; margin: auto;')
            input(type='text', name='firstname', class='form-control', placeholder='First name', autofocus)
          div(class='input-group mb-3 mt-1 mb-1', style='width: 100%; max-width: 330px; margin: auto;')
            input(type='text', name='lastname', class='form-control', placeholder='Last name')
          div(class='input-group mb-3 mt-1 mb-1', style='width: 100%; max-width: 330px; margin: auto;')
            input(type='text', name='interests', class='form-control', placeholder='Interests')
          div(class='input-group mb-3 mt-1 mb-1', style='width: 100%; max-width: 330px; margin: auto;')
            input(type='text', name='state', class='form-control', placeholder='State')
          div(class='input-group mb-3 mt-1 mb-1', style='width: 100%; max-width: 330px; margin: auto;')
            button(type='submit', class='btn btn-lg btn-secondary btn-block text-white') Save
    
      //- footer(class='mastfoot mt-auto')
        div(class='inner mt-3')
          p
            | Designed with 
            i(class='fas fa-exclamation')
            | &nbsp;
            i(class='fas fa-bed')
            |  by 
            a(href='http://jareddiehl.me') Jared Diehl

    include partials/scripts.pug
    //- script(src='/js/profile.js')
