<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <viewport name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <div class="header">
      <h2 class="logo"><a href="/">Neckerlove</a></h2>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>

      <ul class="menu">
        <a href="/">Home</a>
        <a href="/find">Find</a>
        <a href="/profile">Profile</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>
      </ul>
    </div>

    <div class="content">
      <div class="login-box">
        <form class="login-form" action="login.html" method="post">
          <h1>Welcome</h1>
          <input class="txtb" type="text" name="" placeholder="Username">
          <input class="txtb" type="password" name="" placeholder="Password">
          <input class="login-btn" type="submit" name="" value="Register">
        </form>
      </div>
    </div>
  </body>
</html>
