extends layouts/main.pug

block head
  link(rel='stylesheet', href='/css/register.css')

block header
  header(class='header')
    h2(class='logo')
      a(href='/')
        i(class='fas fa-heart')
        |  NeckerLove
    input(type='checkbox', id='chk')
    label(for='chk', class='show-menu-btn')
      i(class='fas fa-ellipsis-h')
    ul(class='menu')
      a(href='/') Home
      a(href='/search') Search
      a(href='/account/profile') Profile
      a(href='/account/register') Register
      a(href='/account/login') Login
      label(for='chk', class='hide-menu-btn')
        i(class='fas fa-times')

block content
  div(class='content')
    div(class='login-box')
      form(id='registrationForm', class='login-form', action='/account/register', method='post', novalidate)
        h1 Login
        input(id='registrationUsername', class='txtb', type='email', name='registrationUsername', placeholder='Username')
        input(id='registrationPassword', class='txtb', type='password', name='registrationPassword', placeholder='Password')
        input(id='registrationSubmit', class='login-btn', type='submit', value='Register')

block scripts
  script(src='/js/register.js')
