extends layouts/test.pug

block head
  link(rel='stylesheet', href='/css/login.css')

block content
  form(id='form-register', class='form-login', action='/account/test2', method='post', novalidate)
    //- a(href='/')
      img(class='mb-4', width='72', height='72', src='/img/brand.png', alt='')
    h1(class='h3 mb-3 font-weight-light text-white') Welcome
    div(class='form-group')
      input(type='email', name='inputEmail', id='inputEmail', class='form-control', placeholder='Email', value=email, required, autofocus)
    div(class='form-group')
      input(type='password', name='inputPassword', id='inputPassword', class='form-control', placeholder='Password', required)
    div(class='form-group')
      input(type='password', name='inputConfirm', id='inputConfirm', class='form-control', placeholder='Confirm Password', required)
    button(type='submit', class='btn btn-lg btn-secondary btn-block text-white') Register
    p(class='mt-2 mb-2 text-white')
      | Already have an account? 
      a(href='/account/login', class='text-primary') Log in
    //- p(class='mt-4 mb-2 text-muted')
      | Designed with 
      i(class='fas fa-exclamation')
      | &nbsp;
      i(class='fas fa-bed')
      |  by 
      a(href='http://jareddiehl.me') Jared Diehl

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js')
  script(src='/js/register.js')
