a,
a:focus,
a:hover {
  color: #fff;
}

a.masthome {
  text-decoration: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #aaa;
  text-shadow: none; /* Prevent inheritance from body` */
  background-color: #222;
  border: .05rem solid #222;
  cursor: pointer;
}

#text-search,
#text-search:hover,
#text-search:active {
  border-color: white;
}

#text-search:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

html,
body {
  height: 100%;
  overflow: auto;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #333;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  cursor: default;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media(min-width: 48em) {
  .masthead-brand {
    float: left
  }

  .nav-masthead {
    float: right;
  }
}

.cover {
  padding: 0 1.5rem;
}

.cover h1 {
  font-size: 4rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.mastfoot a {
  text-decoration: none;
}

@media(max-width: 47em) {
  .cover h1 {
    font-size: 3rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: #aaa;
  border-color: #aaa;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.card {
  border: none;
  background: #f5f5f5;
}

.form-search input[type='text'] {
  color: white;
  background-color: #333;
}
