<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Find</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/find.css">
</head>

<body>
  <header class="header">
    <h2 class="logo"><a href="/"><i class="fas fa-heart"></i> Neckerlove</a></h2>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
      <a href="/">Home</a>
      <a href="/find">Find</a>
      <a href="/profile">Profile</a>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </header>

  <div class="container-wrapper">
    <div class="container">
      <div class="search-wrapper">
        <form id="findForm" class="login-form" action="/login" method="POST" novalidate>
          <div class="wrapper">
            <div class="toggle-radio">
              <input type="radio" id="findInterests" class="toggle-option" name="toggle-option" value="interest" checked>
              <input type="radio" id="findLocality" class="toggle-option" name="toggle-option" value="locality">
              <label for="findInterests">Interest</label>
              <label for="findLocality">Locality</label>
              <div class="toggle-option-slider"></div>
            </div>
          </div>
          <div class="search">
            <div class="search-box">
              <input id="findSearch" class="search-txt" type="text" name="findSearch" placeholder="Type to search">
              <input id="findSubmit" type="submit" class="search-btn" value="Find">
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="profile-card">
            <img src="/img/profile_picture.jpg" alt="profile_picture">
            <h3 class="profile-name">Name</h3>
            <div class="profile-info">
              <span class="profile-locality">Locality</span>
              &bull;
              <span class="profile-interests">Interests</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-container">
      <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://jareddiehl.me">Jared Diehl</a></small>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
  <script src="/js/find.js"></script>
</body>

</html>
